html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(206, 209, 219);
}

body {
    font-family: sans-serif;
}

.hero {
    background-color: #7c109a;
    color: white;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, rgb(212, 0, 225), #7c109a); 
}

.hero:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, rgb(212, 0, 225), #7c109a); 
}

.hero h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}

.hero h2 {
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
}

.filter-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;    
}

.filter-nav a {
    text-decoration: none;
    color: #7c109a;
    padding: 9px;
    border: 1px solid #980ebe; 
    border-radius: 4px;
    margin: 4px;
}

.filter-nav a:hover {
    background-color: #980ebe;
    color: white;
}

.filter-nav .active:hover {
    background-color: #980ebe;
    cursor: default;
}

.filter-nav .active {
    background-color: #8c137a;
    color: white;

}

.animals {
    max-width: 700px;
    margin: 0 auto;
}

.animal-card {
    display: grid; 
    grid-template-columns: 100%;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.animal-card-photo {
    order: 1;
    grid-row: 1;
    overflow: hidden;
    position: relative;
}

.animal-card-photo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform .3s ease-in-out;
    transform-origin: center;
}

.animal-card:hover .animal-card-photo img {
    transform: rotate(20deg) scale(1.4);
}

.animal-card-text {
    padding: 20px 25px;
}

.animal-card-text h3 {
margin: 0;
padding: 0;
font-weight: normal;
font-size: 1.8rem;
}

.animal-card-text small {
    color: rgb(88, 81, 81);
} 

.animal-card-text p {
    margin: .8rem 0; 
    padding: 0;
    line-height: 1.5;
}

.primary-btn {
    background: linear-gradient(#d147d1, #7c109a);
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display:inline-block;
}

.primary-btn:hover {
    background: linear-gradient(#7c109a, #d147d1);
}

.only-large-screen {
    display: none;
}

@media screen and (min-width: 768px) {
    .animal-card {
        grid-template-columns: 200px 1fr;
    }

    .hero h1 {
        font-size: 6rem;
    } 

    .only-large-screen {
        display: inline;
    }

}